/* global css */
:root {}

/* メインコンテンツのスタイル設定 */
body {
  background-color: #ffffff;
  color: #8592a3;
  margin: 0;
  font-family: sans-serif;
}

/* Markdown の書式設定 */
.markdown-body h1 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #8592a3;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #8592a3;
}

.markdown-body {
  line-height: 1.6;
}

.markdown-body p {
  margin-bottom: 16px;
}

.markdown-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem auto;
  border-radius: 8px;
}
